p.warning {
    color: red;
    font-family: serif;
}

p.weird_font {
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2.warning {
    color: darkred;
    font-family: Monospace;
}

body {
    background-color: lightgreen;
    color: white;
}
